body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}


input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-error {
    border-color: red;
}


label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;

}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    color: red;
}
