.wrapper {
    display: grid;
    gap: 10px;
    color:white;
    height: 100vh;
}

.header {
    background-color: #999999;
    grid-column: 1/3;
    grid-row: 1;
    padding: 50px;
    border-radius: 10px;
}

.sidebar {
    background-color: #444444;
    grid-column: 1;
    grid-row: 2/4;
    padding:50px;
    border-radius: 10px;
}

.content {
    background-color: #444444;
    grid-column: 2/3;
    grid-row: 2/4;
    padding:50px;
    border-radius: 10px;
}

.footer {
    background-color: #999999;
    grid-column: 1/3;
    grid-row: 4;
    padding:50px;
    border-radius: 10px;
}