body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bc002d;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    width: 350px;
    height: 250px;
    perspective: 1000px;
    position: relative;
    transition: transform 0.6s;
}

.card:hover {
    transform: scale(1.2);
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border: 10px outset #bc002d;
    box-shadow: -20px -10px 30px rgba(0, 0, 0, .75);
}

.card .front {
    background-color: #ffffff;
    color: #bc002d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.card .back {
    background-color: #ffffff;
    color: #bc002d;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card.is-flipped .front {
    transform: rotateY(-540deg);
}

.card.is-flipped .back {
    transform: rotateY(-360deg);
}

.card .pic {
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .logo-container {
    display: flex;
    justify-content: space-around;
    background-color: #bc002d;
    position: absolute;
    left: -103px;
    transform: rotate(-90deg);
    width: 250px;
    height: 45px;
    z-index: 0;
    overflow: hidden;
    transition: 300ms;
}

.card .logo-container::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: white;
    transition: 300ms;
    animation: shinyshiny 2.5s ease-in-out infinite;
}

@-webkit-keyframes shinyshiny {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.card .logo {
    position: relative;
    top:7px;
    height: 30px;
    filter: brightness(0) invert(1);
    z-index: 1;
}

.card .student {
    position: relative;
    top:3px;
    color: white;
    font-size: 20px;
    z-index: 1;
}

.card h2 {
    margin: 0;
}

.card p {
    margin: 5px 0;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}