/* General body styling */
body {
    display: flex;
    height: 100vh;
    margin: 0;
}

/* Navigation styling */
nav {
    display: flex;
    background-color: #a8dadc;
    writing-mode: vertical-rl;
    flex:3;
    align-items: center;
    padding-top: 20px;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    background-color: #e9f2f3;
    flex:7;
}


main {
    flex-grow: 1;
    padding-left: 10px;
}

footer {
    background-color: #81a4a6;
    padding-left: 10px;
}